<div class="container">
  <h1>New Book Form</h1>
  <form [formGroup]="bookForm" novalidate
  (ngSubmit)="onSubmit(bookForm.value, bookForm.valid)">
  <div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control"
  formControlName="name">
  <small [hidden]="bookForm.controls.name.valid || (bookForm.controls.name.pristine && !submitted)"
  class="textdanger">
  Name is required.
  </small>
  </div>
  <div class="form-group">
  <label for="author">Author</label>
  <input type="text" class="form-control"
  formControlName="author">
  <small [hidden]="bookForm.controls.author.valid || (bookForm.controls.author.pristine && !submitted)"
  class="textdanger">
  Author is required.
  </small>
  </div>
  <div class="form-group">
  <label for="publication">Publication</label>
  <input type="text" class="form-control"
  formControlName="publication">
  </div>
  <button type="submit" class="btn btnsuccess">
  Submit</button>
  </form>
  </div>
